<html>
    <head>
        <title>PharmaFind | {{drugset.drug}} at "{{drugset.pharmacy}}"</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    </head>
    <body>
        <div id="topbar">
            {% if user.is_authenticated %}
                {% if user.pharmacymanager %}
                    <p align="right" class="links"><a href="{% url 'home' %}">Home</a>&emsp;Sign up&emsp;<a href="{%url 'pharmamanage' %}">Manage pharmacies</a>&emsp;<a href="{% url 'logout' %}">Logout</a></p>
                {% else %}
                    <p align="right" class="links"><a href="{% url 'home' %}">Home</a>&emsp;Sign up&emsp;<a href="{% url 'logout' %}">Logout</a></p>
                {% endif %}
            {% else %}
                <p align="right" class="links"><a href="{% url 'home' %}">Home</a>&emsp;Sign up&emsp;<a href="{% url 'login' %}">Login</a></p>
            {% endif %}
            <h3 align="center" class="white"> {% load static %}<img src="{% static 'favicon32.png' %}">Pharmafind</h3>
            <p align="left" id="version"><small><small>Version 1.0.0 (Prototype)</small></p>
        </div>
        <h1 class="white">Medicine: {{drugset.drug}}</h1>

        <h2 class="pink">Pharmacy: {{drugset.pharmacy}}</h2>

        {% if drugset.count != 0 %}
            <h2 class="pink">{{drugset.count}} in stock</h2>
        {% else %}
            <h1 class="important">Out of stock</h1>
            <h2 class="pink">Restocking Date: 28.7.2022</h2>
        {% endif %}

        <h2 class="pink">Adress: {{drugset.pharmacy.adress}}</h2>

        {% if drugset.pharmacy.phone %}
        <h3 class="pink">Phone number: {{drugset.pharmacy.phone}}</h3>
        {% else %}
        <h3 class="greypink">Phone number not available</h3>
        {% endif %}

        {% if drugset.pharmacy.contactemail %}
        <h3 class="pink">Email: {{drugset.pharmacy.contactemail}}</h3>
        <h4><a href="mailto:{{drugset.pharmacy.contactemail}}" target="_blank" class="purple">Send e-mail</a></h4>
        {% else %}
        <h3 class="greypink">Email not available</h3>
        {% endif %}
        
        {% if drugset.pharmacy.website %}
        <h3 class="pink">Website: <a href="{{drugset.pharmacy.website}}" target="_blank" class="purple">{{drugset.pharmacy.website}}</a></h3>
        {% else %}
        <h3 class="greypink">Website not available</h3>
        {% endif %}

        {% if drugset.pharmacy.delivery %}
        <h4 class="pink">Delivery available</h4>
        {% else %}
        <h4 class="greypink">Delivery not available</h4>
        {% endif %}

        {% if drugset.pharmacy.canimport %}
        <h4 class="pink">Can import more</h4>
        {% else %}
        <h4 class="greypink">Cannot import more</h4>
        {% endif %}

        <h3 class="pink">Country: {{drugset.pharmacy.country}}<br>Area: {{drugset.pharmacy.area}}</h3>

        <h2><a href="{{drugset.pharmacy.gmaplink}}" target="_blank" class="purple">View pharmacy on Google Maps </a></h2>
    </body>
</html>